<div class="container container-about">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1>About</h1>
      <p>Coffee is personal - the right way to make it is how you like it best.</p> 
      <br>
      <p>That being said, mastering a few fundamentals will help you perfect your technique.</p> 
      <p>From here, we encourage you to experiment with different roasts, origins, or preparation methods.</p>
      <br>
      <p>Read our tips to brew a classic cup of coffee.</p>   
    </div>
  </div>
</div><!--end container-->