<div class="container container-contact">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1>Contact</h1>
      <p>Coffee Bar Amsterdam</p>
      <p>Ceintuurbaan</p>
      <p>1011 BB</p>
      <p>Amsterdam</p>
      <br>
      <span> +31641015726</span>      
    </div>
    <div class="col-md-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3>Anything you want always wanted to know about coffee:</h3>
      <form id="contact">
        <div class="form-group">
          <label for="name">Your name</label>
          <input type ="textBox" minlength=10 id="name" class="form-control" placeholder="*Name" required=”required”>
        </div><!--end form-group-->

        <div class="form-group">
          <label for="name">Email Adress</label>
          <input type=”email” name=”email” id=”email” title=”enter your email” class="form-control" placeholder="*Your email address" required=”required”>
        </div><!--end form-group-->

        <div class="form-group">
          <label for="name">Your message</label>
          <textarea minlength=20 placeholder="Your message here" class="form-control" class="messagebox" style="resize:none" cols="60" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-success">Submit</button>
      </form>
    </div><!--end column -->
  </div><!--end row-->
</div><!--end container-->
