
container-header .header{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 350px;
  background-color: #000;
  background: image-url('post-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  background-attachment: fixed;
}

.container {
  height:1200px;
  border-style: dotted;
  color: #0085A1;
  text-decoration: underline;
}

